Chameleon==2.11
Mako==0.7.3
MarkupSafe==0.15
PasteDeploy==1.5.0
Pygments==1.6rc1
SQLAlchemy==0.8.0b2
WebOb==1.2.3
argparse==1.2.1
boto==2.8.0
coverage==3.6
docutils==0.10
nose==1.2.1
pyramid==1.4
pyramid-debugtoolbar==1.0.4
pyramid-tm==0.7
repoze.lru==0.6
transaction==1.4.0
translationstring==1.1
venusian==1.0a7
waitress==0.8.2
wsgiref==0.1.2
zope.deprecation==4.0.2
zope.interface==4.0.3
zope.sqlalchemy==0.7.1
